* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../Site_Doma/img/fone.jpg); 
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    min-width: 900px;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

/* Header */

.header{
    width: 100%;
    background-color:#ffffffd4;
    box-shadow: 10px 13px 10px rgba(0, 0, 0, 0.5);  
    border: 5px solid #523707;
    border-radius: 10px;      
}

/* Navigation */

.menu {
    /*width: 100%;
    height: 100%; */   
    display: flex;
    flex-wrap: nowrap;
    /*align-items: center;*/
}

/* Navigation on the left */

.menu__ve {
    width: 100%;
    color: #523707;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    font-size: 24px;
    padding: 30px;
}

.menu__ni {
    width: 100%;
    color: #523707;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    font-size: 24px;
    padding: 30px;
}

.menu__link {
    text-decoration: none;
    margin: 10px;
    color: #81570b;
    /*font-weight: 300;*/
}

/* Navigation on the center */

.logo__ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;
}

.menu__logo {
    font-size: 200%;
    text-transform: uppercase;
    display: flex;
    text-decoration: none;
    color: #81570b;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;    
}
.card {
	display: flex;	
    flex-flow: row wrap;
    justify-content: space-between;
	width: 200px;
	height: 322px;
	margin: 50px auto;
	/*background: #FFFFFF;*/
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}
.card__image {
	display: flex;
	justify-content: center;
	width: 200px;
	height: 142.36px;
	background: url(img\001.jpg);
	border-radius: 10px 10px 0px 0px;
	cursor: pointer;

}
.card__content {
	background: #FFFFFF;
	border-radius: 10px;
	margin-bottom: 16px;
	box-shadow: 0px 0px 7px 0px #0000004D;
	cursor: auto;
}
.card__title {
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	color: #000000;
	margin: 16px 55px 16px 16px;
}
.card__text {
	display: flex;
	width: 165px;
	height: 72.74px;
	font-weight: 300;
	font-size: 10px;
	line-height: 14px;
	margin: 16px;

}
.card__btn {
	width: 98px;
	height: 27px;
	border: none;
	background: #523707;
	border-radius: 50px;
	margin: 0 0 25px 16px;
	color: #FFFFFF;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	line-height: 14px;
}
.card__btn:hover{
    box-shadow: 1px -1px 2px gray;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
a:hover {
	color: #127b25; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
a:after {
	content: "";
    display: block;
    position: absolute;
    right: 10;
    bottom: -3px;
    width: 0%;
    height: 3px; /* Высота линии */
    background-color: #F1E67D; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

a:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 10;
    bottom: -3px;
    height: 3px; /* Высота линии */
    background-color: #F1E67D; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}