* {
    padding: 0;
    margin: 100;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(img\001.jpg);
    background-size: cover;
}

/* Header */

.header{
    width: 99%;
    /*background-color:#FFFFFF;*/
    box-shadow: 10px 14px 17px rgba(0, 0, 0, 0.25);  
    border: 5px solid #523707;
    border-radius: 10px;  
    background-image: url(img\001.jpg);
    background-size: cover;
}

/* Navigation */

.menu {
    width: 100%;
    height: 80px;
    /*background: #FFFFFF;*/
    display: flex;
    align-items: center;
}

/* Navigation on the left */

.menu__ul {
    width: 100%;
    color: #523707;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    font-size: 30px;
    padding: 40px;
}

.menu__li {
    color: #000000;
}

.menu__link {
    text-decoration: none;
    margin: 0 20px;
    color: #81570b;
    font-weight: 300;
}

/* Navigation on the center */

.logo__ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.menu__logo {
    font-size: 50px;
    text-transform: uppercase;
    display: flex;
    text-decoration: none;
    color: #81570b;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px; 
    background-image: url(img\001.jpg);
    background-size: cover;
}
.card {
	display: flex;	
    flex-flow: row wrap;
	width: 200px;
	height: 322px;
	margin: 68px auto;
	/*background: #FFFFFF;*/
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}
.card__image {
	display: flex;
	justify-content: center;
	width: 200px;
	height: 142.36px;
	background: url(img\001.jpg);
	border-radius: 10px 10px 0px 0px;
	cursor: pointer;

}
.card__content {
	background: #FFFFFF;
	border-radius: 10px;
	margin-bottom: 16px;
	box-shadow: 0px 0px 7px 0px #0000004D;
	cursor: auto;
}
.card__title {
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	color: #000000;
	margin: 16px 55px 16px 16px;
}
.card__text {
	display: flex;
	width: 165px;
	height: 72.74px;
	font-weight: 300;
	font-size: 10px;
	line-height: 14px;
	margin: 16px;

}
.card__btn {
	width: 98px;
	height: 27px;
	border: none;
	background: #523707;
	border-radius: 50px;
	margin: 0 0 25px 16px;
	color: #FFFFFF;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	line-height: 14px;
}
.card__btn:hover{
    box-shadow: 1px -1px 2px gray;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
	flex: 1 0 auto;

}
.footer{
    flex: 0 0 auto;
    background: #05A88D;
    width: 100%;
    height: 260px
}
.footer__top{
display: flex;
border: 1px solid #FFFFFF; 
width: 100%;
height: 174px;
justify-content: space-between;

}
.footer__left{
padding: 44px 40px;
}
.logo{
    display: flex;
    font-weight: 700;
    font-size: 28px;
    color: #F1E67D;
    text-decoration: none;
}
.text{
    display: flex;
    width: 437px;
    padding-top: 22px;
    padding-bottom: 28px;
}
.footer__right{
    padding: 58px 40px;
    justify-content: flex-end;
    align-content: flex-end;

}
.contact{
    display: flex;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 16px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}
.phone{
    display: flex;
    font-weight: 700;
    font-size: 24px;
    color: #F1E67D;
    margin-bottom: 16px;
    text-decoration: none;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    
}
.address{
    display: flex;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
}
.footer__bottom{
padding: 36px;
}

a:hover {
	color: #127b25; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
a:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 3px; /* Высота линии */
    background-color: #F1E67D; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

a:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 3px; /* Высота линии */
    background-color: #F1E67D; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}